/* @group CV */



.cv{
	display:inline;
	float: right;
}
li.cv{
display:list-item;	
}

.all{
	display:none;
}
.resume{
display:none;
}


#contact {

  padding-top: 10px;


}
#picture {
height:100px;	
}

.hideforCV{
display:none;	
}

/* @end */
